[submodule "1.Lidar_obstacle_detection"]
	path = 1.Lidar_obstacle_detection
	url = git@github.com:Ashutosh-Badave/1.Lidar_obstacle_detection.git
[submodule "2.Camera_based_2D_feature_matching"]
	path = 2.Camera_based_2D_feature_matching
	url = git@github.com:Ashutosh-Badave/2.Camera_based_2D_feature_matching.git
[submodule "3.3D_Object_Tracking_Using_Camera_n_Lidar"]
	path = 3.3D_Object_Tracking_Using_Camera_n_Lidar
	url = git@github.com:Ashutosh-Badave/3.3D_Object_Tracking_Using_Camera_n_Lidar.git
[submodule "4.Radar-Target-Generation-and-Detection"]
	path = 4.Radar-Target-Generation-and-Detection
	url = https://github.com/Ashutosh-Badave/4.Radar-Target-Generation-and-Detection.git
[submodule "5.Unscented_Kalman_Filter"]
	path = 5.Unscented_Kalman_Filter
	url = https://github.com/Ashutosh-Badave/5.Unscented_Kalman_Filter.git
